<!DOCTYPE html>
<html>
<head>
    <title>Flight Search Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    textarea {
      resize: none;
    }
    </style>
</head>
<body>
    <center><h2><font color="green">Flight Search Results</font></h2>
    
    <table border="3" bgcolor= orange height="10" width="1700">
        
            <tr>
                <th>Flight Number</th>
                <th>Flight Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Class</th>
                <th>Quota/Ticket Type</th>
                <th>Total Fare</th>
                <th>KM</th>
                <th>Action</th>
            </tr>
    
        
            {% for flight in flights %}
            <tr>
                <td>{{ flight[0] }}</td>
                <td>{{ flight[1] }}</td>
                <td>{{ request.form.origin }}</td>
                <td>{{ request.form.dest }}</td>
                <td>{{ request.form.tycl }}</td>
                <td>{{ request.form.tyt }}</td>
                <td>{{ tmf }}</td>
                <td>{{ km }}</td>
                <td><a href="{{ url_for('user_login_bp.user_login') }}" target="_blank">Book now</a></td>
            </tr>
            {% endfor %}
    
    </table>
    <h2>Fare Details</h2>
    <strong>Journey Date: ({{ jd }}),</strong>
    <strong>Return Date: ({{ rd }}),</strong>
    <!--<strong>Return Date: ({{ request.form.get('rd', '') }}),</strong>-->
    <br>
    <p><strong>Base Fare:</strong> {{ bs }},
    <strong>Class Charges ({{ request.form.tycl }}):</strong> {{ class_charge }}, 
    <strong>Quota Discount({{ request.form.tyt }}):</strong> {{ quuota_discount }},
    <strong>Trip Mode:({{ request.form.tm }})</strong>,
    <strong>Trip Discount:({{ request.form.tm }}):</strong>{{ tmf1 }},
    <strong>Total Fare:</strong> {{ tmf }}</p>
    <// ({{ tyt }})://>
    <strong>SKA AIRLINES Offeres Over 1% Discount on the Round Trip Mode to passengers while at the same time of Booking </strong><br>
    <strong>Special Category passengers need to carry a Photo Identity card issued by the Government which is to be produced for On-board / Off-board verification during the journey Include Quota/Ticket type Defence, Govt Employee, Senior Citizen, Student, Dont Forgot to carry the Identity Card!.</strong>
<br>
<br>
<a href="{{ url_for('guest_dashboard_bp.ticket_index') }}"><button class="btn-primary">BACK</button></a>
    <button onclick=window.close() class="btn-secondary"> CLOSE</button>
    </center>
</body>
</html>
