<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body onkeydown="return(event.keyCode == 154)">
    <style>
        body {
            background-image: url('/static/plane6.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
        }
    </style>
    <center>
<font color="white">
    <h1>Flight Registered Successfully!</h1>
    <h6>Flight Number: {{ flight_number }}</h6>
    <h6>Flight Name: {{ flight_name }}</h6>
    <h6>Selected Airports: {{ airports }}</h6>
    <h6>Fare: {{ base_fare }}</h6>
    <h6>Plane Class: {{ plane_class }}</h6>
    <h6>plane Quota/Ticket Type: {{ plane_quota }}</h6>
    <h6>Flight Admin: {{ fadm }}</h6>
    <h6>Date: {{ fadon }}</h6>
</font>
    <button><a href="{{ url_for('admin_dashboard_bp.add_new_plane') }}">Back to Dashboard</a></button>
</center>
</body>
</html>
