<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SKA AIRLINES.</title>
 </head>

<body>
    <a href="{{ url_for('seat_avl_bp.seat_avl') }}" target="_blank">seat app</a><br>
    <a href="{{ url_for('admin.seat_avl_bp.seat_avl') }}" target="_blank">seat adm</a><br>
    <a href="{{ url_for('admin_dashboard_bp.ticket_admin') }}"target="_blank">TICKET RESERVATION</a>
</body>
   
    </html>